
<h3>Nova Categoria: </h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/category/new" method="POST">
            <label for="name">Nome: </label>
            <input type="text" name="name" id="name" placeholder="Nome da categoria" class="form-control">
            <label for="slug"> Slug </label>
            <input type="text" name="slug" id="slug" placeholder="Slug da categoria" class="form-control">
            <br/>
            <button class="btn btn-success">Criar Categoria</button>
        </form>
    </div>
</div>