<div class="card">
    <div class="card-body">
        <h4>Nova Postagem</h4>
        <form action="">
            <label for="title">Títutlo</label>
            <input type="text" class="form-control" name="title" id="title">

            <label for="slug">Slug: </label>
            <input type="text" name="slug" id="slug" class="form-control">

            <label for="description">Descrição: </label>
            <input type="text" name="description" class="form-control" id="description">

            <label for="content">Conteúdo: </label>
            <textarea name="content" id="content" class="form-control"></textarea>

            <label for="category">Categoria: </label>
            <select name="category" id="category" class="form-control">
                {{#each categories}}
                    <option value="{{_id}}">{{name}}</option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>
            <br>

            <button class="btn btn-succes">
                Criar Postagem
            </button>
        </form>
    </div>
</div>